@font-face {
    font-family: 'PlusJakartaSans-Medium';
    src: url(./assets/font/PlusJakartaSans/PlusJakartaSans-Medium.ttf);
}
@font-face {
    font-family: 'OpenSans';
    src: url(./assets/font/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf);
}
